# Inter-Rater Agreement

In [1]:
import pandas as pd

In [25]:
ann1_lvl1 = pd.read_excel("Labels_Lennart.xlsx")
ann2_lvl1 = pd.read_excel("Labels_Peter.xlsx")
ann1_lvl2 = pd.read_excel("Labels_Lennart2.xlsx")
ann2_lvl2 = pd.read_excel("Labels_Peter2.xlsx")

FileNotFoundError: ignored

In [6]:
ann1_lvl1.head()

,Sec/Particpant,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35
0,90,CONF,CONF,CONF,CONF,CONF,CONF,CONF,CONF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89,CONF,CONF,CONF,CONF,CONF,CONF,CONF,CONF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,88,CONF,CONF,CONF,CONF,CONF,CONF,CONF,CONF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,87,CONF,BAU,CONF,CONF,CONF,CONF,CONF,CONF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86,CONF,BAU,CONF,CONF,CONF,BAU,CONF,BAU,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
def get_annotations_as_list(df):
  labels=[]
  for name, values in df.iteritems():
    if name[0]=="P":
      labels+=list(values)
  return labels

labels_ann1_lvl1 = get_annotations_as_list(ann1_lvl1)
labels_ann2_lvl1 = get_annotations_as_list(ann2_lvl1)
labels_ann1_lvl2 = get_annotations_as_list(ann1_lvl2)
labels_ann2_lvl2 = get_annotations_as_list(ann2_lvl2)

NameError: ignored

In [ ]:
# sanity checks content
print(pd.Series(labels_ann1_lvl1).value_counts())
print(pd.Series(labels_ann1_lvl2).value_counts())
print(pd.Series(labels_ann2_lvl1).value_counts())
print(pd.Series(labels_ann2_lvl2).value_counts())

In [22]:
# sanity checks lenght
print(len(labels_ann1_lvl1))
print(len(labels_ann1_lvl2))
print(len(labels_ann2_lvl1))
print(len(labels_ann2_lvl2))

3185

In [23]:
from sklearn.metrics import cohen_kappa_score

print(cohen_kappa_score(labels_ann1_lvl1, labels_ann2_lvl1))
print(cohen_kappa_score(labels_ann1_lvl2, labels_ann2_lvl2))
cohen_kappa_score(labels_ann1_lvl1+labels_ann1_lvl2, labels_ann2_lvl1+labels_ann2_lvl2)

1.0

# Descriptive Stats

In [ ]:
final_lvl1 = pd.read_excel("Labels_final.xlsx")
final_lvl2 = pd.read_excel("Labels_final2.xlsx")

In [ ]:
labels_final_lvl1 = get_annotations_as_list(final_lvl1)
labels_final_lvl2 = get_annotations_as_list(final_lvl2)

In [40]:
pd.Series(labels_ann1_lvl1).value_counts()

CONF    358
BAU     332
ERR      26
 BAU     12
dtype: int64

In [32]:
import numpy as np 

bau_perP=[]
conf_perP=[]
err_perP=[]

for name, values in final_lvl1.iteritems():
    if name[0]=="P":
      bau_perP.append(final_lvl1[name].value_counts().get("BAU"))
      conf_perP.append(final_lvl1[name].value_counts().get("CONF"))
      err_perP.append(final_lvl1[name].value_counts().get("ERR"))

print("SD BAU Lvl1:", np.array(bau_perP).std())
print("SD CONF Lvl1:", np.array(conf_perP).std())
print("SD ERR Lvl1:", np.array(err_perP).std())

print("Mean BAU Lvl1:", sum(bau_perP)/len(bau_perP))
print("Mean CONF Lvl1:", sum(conf_perP)/len(conf_perP))
print("Mean ERR Lvl1:", sum(err_perP)/len(err_perP))

28